%h1 Add Property

%p= notice
%p= alert

%div.form-wrapper.span-12.last
  = form_for @realty, :html => { :multipart => true, :class => 'bp realties' } do |form|
    = render :partial => 'form', :object => form